/* SASS FILE FOR ZOOKILLSOCCER */

$primaryColor: #eeffcc;
$secondayColor: #ddd;
$tertiaryColor: #efe;

body {
	background-color: $tertiaryColor;
}

/* initially, hide all the screens */
.app-screen
{
	display:none;
}